[Oo]bj/
[Bb]in/
TestResults/
bin/
obj/
.nuget/
.vs/
_ReSharper.*/
publish/
packages/
artifacts/
lib/
webroot/
node_modules/
build/
logs/
publish/
*.user
*.suo
*.cache
*.docstates
_ReSharper.*
nuget.exe
*net45.csproj
*k10.csproj
*.psess
*.vsp
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution
*.*sdf
*.ipch
*.sln.ide
project.lock.json
appsettings.user.json
helm-test
*.tgz
Chart.lock